* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: relative;
  background: url('https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') center/cover ;
  z-index: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .column:last-child { 
  border-right: none;
}

.container .column { 
  border-right: 2px solid rgba(0,0,0,0.6);
  opacity: none;
  height: 100%;
}

.column .content {
  position: relative;
  height: 100vh;
  background-color: rgba(0,0,0,0.0)
}

.content h1 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  border-top: 2px solid rgba(0,0,0,0.6);
  border-bottom: 2px solid rgba(0,0,0,0.6);
  font-size: 10em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255,255,255,0.4);
  padding: 2rem 1rem;
}

.column .content .box {
  visibility: hidden;
  opacity: 0;
  transform: translateY(500px);
  padding: 3rem 2rem;
  background-color: white;
  transition: 1s ease
}

.column:hover .content .box {
  cursor: pointer;
  position: absolute;
  visibility: visible;;
  opacity: 1;
  transform: translateY(140px);
  text-align: center;
}
.box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.box p {
  font-size: 1.05rem;
}


.container .column:hover .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1
}


.container .column .bg.bg1 {
  background: url('https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') center/cover ;
}
.container .column:hover .bg.bg2 {
  background: url('https://images.unsplash.com/photo-1502224562085-639556652f33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') center/cover ;
}
.container .column:hover .bg.bg3 {
  background: url('https://steemitimages.com/DQmZJ1ZTKSL8SBJKZzo4JzQwJvzwrUBfeErGQa2r3rRAPN8/Amazing-3D-High-Quality-Photos-31.jpg') center/cover ;
}
.container .column:hover .bg.bg4 {
  background: url('https://miro.medium.com/max/2800/1*y5nTG-hN4-QLvZf78CwLsQ.jpeg') center/cover ;
}



